@import url('https://fonts.googleapis.com/css?family=Comfortaa');

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

.calculator {
  width: 250px;
  height: 400px;
  margin: 50px auto;
  background: #37474F;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.17);
}

.output {
  box-sizing: border-box;
  width: 250px;
  height: 70px;
/*   box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.17); */
  border-radius: 5px;
  padding: 0 5px;
  background: #263238;
  color: #fff;
  text-align: right;
  font-family: 'Comfortaa', cursive;
  font-size: 32px;
  letter-spacing: 1px;
}

.output-display,
.output-composite {
  line-height: 38px;
  display: block;
  overflow: hidden;
/*   white-space: nowrap; */
}

.output-composite {
  font-size: 0.4em;
  opacity: 0.3;
}

li {
  list-style-type: none;
  float: left;
  margin-top: 10px;
}

.btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-left: 10px;
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:active {
  box-shadow: 0 0 7px 2px #F9A825;
}

.first-child {
  margin-left: 0;
}

#zero {
  width: 120px;
  border-radius: 100px;
}

.yellow {
  background: #FFDD40;
}

.gray {
  background: #B0BEC5;
}

.red {
  background: #F50057;
  color: #fff;
}